.vscode
.idea

# Local .terraform directories
# ** - 0個以上のファイル or ディレクトリにマッチ
terraform/dev/.terraform
terraform/.terraform
.terraform
config.tf
terraform.tfvars

# .tfstate files
*.tfstate
*.tfstate.*

function.zip

app/bin/*